<!-- /snippets/breadcrumb.liquid -->
{% comment %}
  Documentation - http://docs.shopify.com/support/your-website/navigation/creating-a-breadcrumb-navigation
{% endcomment %}
{% unless template == 'index' or template == 'cart' %}
<nav class="ui breadcrumb" role="navigation" aria-label="breadcrumbs">
  <a class="section" href="/" title="{{ 'general.breadcrumbs.home_link_title' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>

  {% if template contains 'product' %}

    {% if collection %}
      <i class="right angle icon divider"></i>
      {% if collection.handle %}
        {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
        <a class="section" href="{{url}}">{{collection.title}}</a>
      {% endif %}
    {% endif %}
    <i class="right angle icon divider"></i>
    <span class="section">{{ product.title }}</span>

  {% elsif template contains 'collection' and collection.handle %}

    <i class="right angle icon divider"></i>
    {% if current_tags %}
      {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
      <a class="section" href="{{url}}">{{collection.title}}</a>
      <i class="right angle icon divider"></i>
      <span class="section">{{ current_tags | join: " + " }}</span>
    {% else %}
      <span class="section">{{ collection.title }}</span>
    {% endif %}

  {% elsif template == 'blog' %}

    <i class="right angle icon divider"></i>
    {% if current_tags %}
      <a class="section" href="{{blog.url}}">{{blog.title}}</a>
      <i class="right angle icon divider"></i>
      <span class="section">{{ current_tags | join: " + " }}</span>
    {% else %}
    <span class="section">{{ blog.title }}</span>
    {% endif %}

  {% elsif template == 'article' %}

    <i class="right angle icon divider"></i>
    <a class="section" href="{{blog.url}}">{{blog.title}}</a>
    <i class="right angle icon divider"></i>
    <span class="section">{{ article.title }}</span>

  {% elsif template contains 'page' %}

   <i class="right angle icon divider"></i>
   <span class="section">{{ page.title }}</span>

  {% else %}

   <i class="right angle icon divider"></i>
   <span class="section">{{ page_title }}</span>

  {% endif %}
</nav>
{% endunless %}
